<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/dejavu-sans-mono"
      type="text/css"
    />
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/index.css" />
    <script
      src="https://kit.fontawesome.com/e3f2f9bf33.js"
      crossorigin="anonymous"
    ></script>
    <title>Portfolio</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <p id="logo">
          <a href="#"><</a><a href="https://grover.sh">></a> Tyson Jenkins
        </p>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#projects">Projects</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="hero-section">
        <div class="hero-section-item">
          <div class="hero-title">
            <h1 id="hero-name">Tyson Jenkins</h1>
            <p>Programmer</p>
          </div>
          <div class="hero-icons">
            <a href="https://github.com/timmyjinks"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a href="https://www.linkedin.com/feed/"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
          </div>
        </div>
        <div class="hero-section-item">
          <div class="about-terminal">
            <div class="about-window">
              <p>> cat aboutme.txt</p>
              <p># Location</p>
              <p>Salt Lake City, UT</p>
              <br />
              <p># Interests</p>
              <p>["gaming", "manga", "pc building"]</p>
              <br />
              <p># Skills</p>
              <p>["HTML/CSS", "JavaScript", "C#", "C++", "Java", "Git"]</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <section>
      <div class="projects">
        <div class="project-item">
          <h2>2D Game Engine</h2>
          <h3>
            A game engine used for making 2D games, using C++ and the SDL
            library
          </h3>
          <img src="../images/game_engine.png" />
          <div class="technologies">
            <p>C++</p>
            <p>SDL</p>
          </div>
          <div class="demonstration">
            <!-- <a href="#">Blog</a> -->
          </div>
        </div>
        <div class="project-item">
          <h2>Schlatt Dungeon</h2>
          <h3>
            A fun 2D rpg game made using Java as well as the libGDX library for
            displaying the 2D graphics
          </h3>
          <img src="../images/rpg.png" />
          <div class="technologies">
            <p>Java</p>
            <p>libGDX</p>
            <p>Swing</p>
          </div>
          <div class="demonstration">
            <!-- <a href="#">Blog</a> -->
          </div>
        </div>
        <!-- <a id="more-projects" href="#">More Projects</a> -->
      </div>
    </section>
    <footer>
      <div class="footer-content-wrapper">
        <div class="footer-contact">
          <a href="https://github.com/timmyjinks"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a href="https://www.linkedin.com/feed/"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </div>
      </div>
      <div>
        <p id="footer-copyright">Copyright ©2024 by Tyson Jenkins</p>
      </div>
    </footer>
  </body>
</html>
