<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/dejavu-sans-mono"
      type="text/css"
    />
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/index.css" />
    <script src="scripts/index.js" defer></script>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script
      src="https://kit.fontawesome.com/e3f2f9bf33.js"
      crossorigin="anonymous"
    ></script>
    <title>Portfolio</title>
  </head>
  <body>
    <div class="hero-section">
      <header>
        <div class="nav-bar">
          <p id="logo"><> Tyson Jenkins</p>
          <nav>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="#projects">Projects</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main>
        <div class="hero-section-item">
          <div class="hero-title">
            <h1 id="hero-name">Tyson Jenkins</h1>
            <p>Programmer</p>
          </div>
          <div class="hero-icons">
            <a href="https://github.com/timmyjinks"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a href="https://www.linkedin.com/feed/"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
          </div>
        </div>
        <div class="hero-section-item"></div>
      </main>
    </div>
    <section>
      <h1 id="projects">Projects</h1>
      <div class="projects">
        <div class="project-item">
          <h1>2D Game Engine</h1>
          <h3>A 2D game engine written in c++ using SDL library for common tasks such as displaying points</h3>
          <img src="../images/rust.png"></a>
          <div class="technologies">
            <div class="tech">
              <p>C++</p>
              <p>SDL</p>
            </div>
          </div>
        </div>
        <div class="project-item">
          <h1>Schlatt Dungeon</h1>
          <h3>A rpg game made in Java using the lib-gdx library for displaying graphics</h3>
          <img src="../images/rust.png"></a>
          <div class="technologies">
            <div class="tech">
              <p>Java</p>
              <p>Lib-gdx</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="about">
        <div class="about-item">
          <h1>About Me</h1>
          <p>
            My name is Tyson and I attend Neumont College of Computer Science. I
          </p>
        </div>
        <div class="about-item">
          <img src="images/TODO" />
        </div>
      </div>
    </section>
    <section>
      <div class="skill">
        <div class="skill-item">
          <h1>Skills</h1>
          <p>Stuff goes here</p>
        </div>
        <div class="skill-item"></div>
      </div>
    </section>
    <section>
      <div class="progress">
        <div class="progress-item">
          <h1>What I am working on...</h1>
          <h3 id="title">title</h3>
          <h5 id="desc">desc</h5>
        </div>
        <div class="progress-item"></div>
      </div>
    </section>
    <footer>
      <div>
        <p id="footer-socials">Contact Me</p>
      </div>
      <div class="footer-content-wrapper">
        <div class="footer-previous">
          <a href="#"><p id="previous"><-- Previous</p></a>
        </div>
        <div class="footer-contact">
          <a href="https://github.com/timmyjinks"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a href="https://www.linkedin.com/feed/"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </div>
        <div class="footer-next">
          <a href="#"><p id="Next">Next --></p></a>
        </div>
      </div>
      <div>
        <p id="footer-copyright">Copyright ©2024 by Tyson Jenkins</p>
      </div>
    </footer>
  </body>
</html>
