section {
    color: black;
    background-color: white;
    text-align: center;

    padding: 15px;
}

.about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-item {
    width: 45%;
    padding: 25px;
}

.about img {
    width: 90%;
}