section {
  color: white;
  background-color: black;
}

/* //////////// */
/*  Hero Body  */
/* ////////// */

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 90vh;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  width: 50%;

  border: 1px solid red;
  border-radius: 5px;
}

.hero-section-item {
  padding: 15px;
  margin: 15px;
}

#hero-name {
  font-size: 80px;
  margin: 0px;
}

.hero-title p {
  font-family: monospace;
  font-size: 32px;
  opacity: 0.9;

  color: #f5f3f4;
}

.hero-icons a {
  color: white;
  font-size: 72px;
  margin: 0px 50px 0px 0px;
}

.hero-icons a:hover {
  transition: 0.5s;
  color: #e5383b;
}

#hero-quote {
  color: #d3d3d3;
  font-size: 32px;
}

/*//////////*/
/* About Me */
/*//////////*/

.about p {
  margin: 0;
}

/*///////////*/
/* Projects */
/*/////////*/

section {
  padding-top: 15px;
  padding-bottom: 15px;
}

.projects {
  width: 50%;
  margin: auto;
  text-align: center;
}

.project-item {
  text-align: left;
  border: 1px solid red;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0;
}

.project-item h2,
h3,
img,
div {
  margin: 20px;
}

.project-item img {
  width: 100%;
  margin: 0;
  outline: red 1px solid;
}

.project-item > .technologies {
  display: flex;
  align-items: center;
}

.project-item > .technologies > p {
  padding: 10px 30px;
  border: 1px solid red;
  border-radius: 5px;
  margin: 0;
  margin-right: 10px;
}

.project-item > .demonstration {
  display: flex;
  align-items: center;
}

.project-item > .demonstration > a {
  padding: 10px 35px;
  background-color: red;
  color: black;
  text-decoration: none;
  margin-right: 20px;
}

.project-item > .demonstration > a:hover {
  transition: 0.5s;
  opacity: 0.8;
}

#more-projects {
  color: white;
  font-size: 24px;
}
