section {
    background-color: white;
    color: #0B090A;
    text-align: center;
    height: 700px;

}

section h1 {
    font-size: 32px;
    padding: 15px;

    margin: 0;
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 24px;
    margin: 20px;
}

.skills-item {
    margin: 20px;
    width: 100%;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 15px;
}

.logos img{
    width: 8%;
}